*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#t1:focus{
    background-color: yellow;
    cursor: grab;
}

/*Selectors used in css and ho wto use external css